body{
  background-color: #F6F5AE;
}
body{
 
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 300px;
  
}
.add{

  width: 60px;
  height: 60px;
  background-color: #B5F44A;
  border: none;
  border-radius: 20px;
  font-size: 40px;
  cursor:pointer;

}

.sub{

  width: 60px;
  height: 60px;
  background-color: #FF1B1C;
  border: none;
  border-radius: 20px;
  font-size: 40px;
  cursor:pointer;

}
.num{

  width: 80px;
  height: 80px;
  background-color: #F6F5AE;
  
  border: none;
  font-size: 40px;

}


